<div class="renterProfileContent">


    <div>

        <p>
            <img /> save spot for imgs
        </p>

        <br />
        <p>{{userDetails.currentApartment.address}}</p>

        <p>
            {{userDetails.currentApartment.pricePerDay}}
        </p>

        <p>{{countries[userDetails.currentApartment.countryID-1].countryName}}</p>
        <p>{{userDetails.currentApartment.apartmentType}}</p>
        <p>{{userDetails.currentApartment.description}}</p>

        <h3>Apartment Features:</h3><input type="checkbox" ng-model="selectFeat" />
        <div ng-show="selectFeat">

            <p>{{userDetails.currentApartment.numberOfGuests}}</p>

            <p>{{userDetails.currentApartment.shower}}</p>
            <p>{{userDetails.currentApartment.wifi}}</p>
            <p>{{userDetails.currentApartment.tv}}</p>
            <p>{{userDetails.currentApartment.cables}}</p>
            <p>{{userDetails.currentApartment.satellite}}</p>
            <p>{{userDetails.currentApartment.pets}}</p>
            <p>{{userDetails.currentApartment.bath}}</p>
            <p>{{userDetails.currentApartment.livingRoom}}</p>
            <p>{{userDetails.currentApartment.livingRoomDescription}}</p>

            <p>{{userDetails.currentApartment.numberOfBedRooms}}</p>

            <p>{{userDetails.currentApartment.bedRoomDescription}}</p>
            <p>{{userDetails.currentApartment.queenSizeBed}}</p>
            <p>{{userDetails.currentApartment.doubleBed}}</p>
            <p>{{userDetails.currentApartment.singleBed}}</p>
            <p>{{userDetails.currentApartment.sofaBed}}</p>
            <p>{{userDetails.currentApartment.bedsDescription}}</p>
        </div>
    </div>
    <br />

    Show Reviews:<input type="checkbox" ng-model="selectRev" ng-click="getApartmentReviews()">
    <div ng-repeat="review in userDetails.currentApartment.reviews track by $index" ng-show="selectRev">
        <div>
            {{review.userName}}
            {{review.description}}
            {{review.rating}}
        </div>
        <br />
    </div>
    <div ng-if="userDetails.currentApartment.reviews.length === 0" ng-show="selectRev">
        <h4>Sorry no reviews yet but keep on trying</h4>
    </div>
    <br />
    <br />
    Apartment Approve Orders:<input type="checkbox" ng-model="selectOrders" ng-click="getApartmentOrders()">
    <div ng-repeat="order in userDetails.currentApartment.orders track by $index" ng-show="selectOrders">
        <div>
            <p>From:{{order.userName}}</p>
            <p>Check-In:{{order.fromDate}}</p>
            <p>Check-Out:{{order.toDate}}</p>
            <p>Order Date:{{order.orderDate}}</p>
            <p>Price:{{order.price}}</p>
        </div>
        <br />
    </div>
    <div ng-if="userDetails.currentApartment.orders.length === 0" ng-show="selectOrders">
        <h4>Sorry no orders yet but keep on trying</h4>
    </div>
</div>