<div ng-repeat="apartment in userDetails.renterApartments track by $index">

    <a ui-sref="ProfileParent.CurrentUserApartmentView({userName:userDetails.userName,apartmentID:apartment.apartmentID})">
        <p>{{countries[apartment.countryID-1].countryName}}</p>
        <p>{{apartment.address}}</p>
        <p>{{apartment.apartmentType}}</p>
        <p>{{apartment.fromDate}}</p>
        <p>{{apartment.toDate}}</p>
        <p>{{apartment.pricePerDay}}</p>
    </a>
    <a ui-sref="ProfileParent.EditApartment({userName:userDetails.userName,apartmentIndex:$index})">Edit Apartment</a>
    <button ng-click="deleteApartment($index , apartment.apartmentID)">Delete Apartment</button>
    <br />
    <br />
</div>