
<div>
    <br /><h1>Edit your Account </h1>
    First Name: <input type="text" ng-model="$parent.editFirstName" placeholder="{{userDetails.firstName}}" /><br />
    Last Name: <input type="text" ng-model="$parent.editLastName" placeholder="{{userDetails.lastName}}" /><br />
    Gender:<select ng-model="$parent.editGender">
        <option value="true">Male</option>
        <option value="false">Female</option>
    </select><br />
    E-Mail: <input type="email" ng-model="$parent.editEmail" placeholder="{{userDetails.email}}" /><br />
    Phone number: <input type="tel" ng-model="$parent.editPhoneNumber" placeholder="{{userDetails.phoneNumber}}" /><br />
    Address: <input type="text" ng-model="$parent.editAddress" placeholder="{{userDetails.address}}" /><br />
    Country: <select ng-model="$parent.editCountryID" required id="countrySelect">
        <option ng-repeat="country in countries track by $index" ng-value="country.countryID">{{country.countryName}}</option>
    </select><br />
    <button ng-click="editAccount()">Save</button>
</div>

