
<div class="w3-sidebar w3-bar-block w3-purple w3-animate-left" style="position:fixed;margin-top:62.047px;width:182.453px">
    <a class="w3-bar-item w3-button w3-purple w3-cell w3-border-bottom w3-border-black w3-padding-16">save spot for image<img /></a>
    <a class="w3-bar-item w3-button w3-purple w3-cell w3-border-bottom w3-border-black w3-padding-16" ui-sref="ProfileParent.EditAccount({userName:userDetails.userName})">Edit account</a>
    <a class="w3-bar-item w3-button w3-purple w3-cell w3-border-bottom w3-border-black w3-padding-16" ui-sref="ProfileParent.UserReviews({userName:userDetails.userName})">My Reviews</a>
    <a class="w3-bar-item w3-button w3-purple w3-cell w3-border-bottom w3-border-black w3-padding-16" ui-sref="ProfileParent.UserOrders({userName:userDetails.userName})">View purchses</a>
    <a class="w3-bar-item w3-button w3-purple w3-cell w3-border-bottom w3-border-black w3-padding-16" ng-if="role === 1" ui-sref="ProfileParent.UserApartments({userName:userDetails.userName})">My apartments</a>
    <a class="w3-bar-item w3-button w3-purple w3-cell w3-border-bottom w3-border-black w3-padding-16" ng-if="deleteoptOn">Delete User</a>
    <a class="w3-bar-item w3-button w3-purple w3-cell w3-border-bottom w3-border-black w3-padding-16" ng-if="deleteoptOn&&role===1">Delete renter status</a>
</div>
<ui-view></ui-view>