
<h3>Pending orders from your apartments:</h3>
<div ng-if="userDetails.pendingOrders.length > 0" class="renterProfileContent" ng-repeat="orders in userDetails.pendingOrders track by $index" ng-controller="pendingOrdersController">

    <a>
        {{orders.userName}}<br />
        {{orders.fromDate}}<br />
        {{orders.toDate}}<br />
        {{orders.orderDate}}<br />
        {{orders.price}}<br />

    </a>
    <button ng-click="changeOrderStatus(orders,true)">Approve</button>
    <button ng-click="changeOrderStatus(orders,false)">Decline</button><br /><br />
</div>
<div ng-if="userDetails.pendingOrders.length <= 0">
    <h4>No Pending Orders here for now</h4>
</div>