<div ng-if="userDetails.reviews.length > 0" ng-repeat="review in userDetails.reviews">
    <div ng-show="currentReview != $index">
        {{review.description}}
        {{review.rating}}
        <button ng-click="editReviewHandler($index)">Edit Review</button>
        <button ng-click="deleteReview(review,$index)">Delete Review</button>
    </div>
    <div ng-show="currentReview == $index">
        <span><span ng-click="editReviewHandler(-1)">[x]</span><textarea placeholder="{{review.description}}" ng-model="$parent.$parent.editDescription"></textarea></span>
        <input type="range" min="1" max="5" ng-model="$parent.$parent.editRating" />
        <button ng-click="editReview(review,$index)">Send Review</button>
        <button ng-click="deleteReview(review,$index)">Delete Review</button>
    </div>
</div>
<div ng-if="userDetails.reviews.length <= 0 || userDetails.reviews === undefiend">
    <h4>No reviews yet, dont forget to review the apartments you have rent, better reviews = better staying next time :D</h4>
</div>