<div ng-switch="userDetails.role">
    <div ng-switch-when="0">
        <div class="userSideBar">
            <br />
            <a>save spot for image<img /></a>
            <a ng-href="#!yourProfile/{{userDetails.userName}}/editAccount.html">Edit account</a>
            <a ng-href="#!yourProfile/{{userDetails.userName}}/myReviews.html">My Reviews</a>
            <a ng-href="#!yourProfile/{{userDetails.userName}}/myOrders.html">History of purchses</a>
        </div>
        <div class="userSideBar">
            <div ng-repeat="review in userDetails.reviews">
                <div ng-show="currentReview != $index">
                    {{review.description}}
                    {{review.rating}}
                    <button ng-click="editReviewHandler($index)">Edit Review</button>
                    <button ng-click="deleteReview(review,$index)">Delete Review</button>
                </div>
                <div ng-show="currentReview == $index">
                    <textarea placeholder="{{review.description}}" ng-model="$parent.$parent.editDescription"></textarea>
                    <input type="range" min="1" max="5" ng-model="$parent.$parent.editRating" />
                    <button ng-click="editReview(review,$index)">Send Review</button>
                    <button ng-click="deleteReview(review,$index)">Delete Review</button>
                </div>
            </div>
        </div>
    </div>
    <div ng-switch-when="1">

        <div class="renterSideBar">
            <br />
            <a>save spot for image<img /></a>
            <a ng-href="#!yourProfile/{{userDetails.userName}}/editAccount.html">Edit account</a>
            <a ng-href="#!yourProfile/{{userDetails.userName}}/userApartments.html">My apartments</a>
            <a ng-href="#!yourProfile/{{userDetails.userName}}/myReviews.html">My Reviews</a>
            <a ng-href="#!yourProfile/{{userDetails.userName}}/myOrders.html">History of purchses</a>
        </div>
        <div class="renterProfileContent">
            <div ng-repeat="review in userDetails.reviews track by $index">
                <div ng-show="currentReview != $index">
                    {{review.description}}
                    {{review.rating}}
                    <button ng-click="editReviewHandler($index)">Edit Review</button>
                    <button ng-click="deleteReview(review,$index)">Delete Review</button>
                </div>
                <div ng-show="currentReview == $index">
                    <textarea placeholder="{{review.description}}" ng-model="$parent.$parent.editDescription"></textarea>
                    <input type="range" min="1" max="5" ng-model="$parent.$parent.editRating" />
                    <button ng-click="editReview(review,$index)">Send Review</button>
                    <button ng-click="deleteReview(review,$index)">Delete Review</button>
                </div>
            </div>
        </div>
    </div>
</div>
