<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ApartRent</title>
    <base href="/" />
    <!--Dependecies-->
    <script src="Angular_Dependencies/angular.js"></script>
    <script src="Angular_Dependencies/angular_ui_route.js"></script>
    <link href="Angular_Dependencies/W3_CSS.css" rel="stylesheet" />
    <!--App config Controllers-->
    <script src="apartrentConfiguration.js"></script>
    <script src="indexController.js"></script>

    <!--Register/Login Controllers-->
    <script src="UserBar/Controller/registerController.js"></script>
    <script src="UserBar/Controller/loginController.js"></script>

    <!--Search And Result Controllers-->
    <script src="searchController.js"></script>
    <script src="SearchResult/Controller/searchResultController.js"></script>
    <script src="SearchResult/Controller/viewApartmentController.js"></script>

    <!--Factories And Services-->
    <script src="Factories and Services/userProfileFactory.js"></script>
    <script src="Factories and Services/countriesFactory.js"></script>
    <script src="Factories and Services/categoriesFactory.js"></script>
    <script src="Factories and Services/startupResolveFactory.js"></script>
    <script src="Factories and Services/apartmentsFactory.js"></script>
    <!--Orders/Reviews Controllers-->
    <script src="SearchResult/Controller/searchedApartmentReviewsController.js"></script>
    <script src="SearchResult/Controller/placeOrderController.js"></script>

    <!--Profile Controllers-->
    <script src="UserProfile/Profile/Controller/editAccountController.js"></script>
    <script src="UserProfile/Profile/Controller/ProfileController.js"></script>
    <script src="UserProfile/Profile/Controller/userOrdersController.js"></script>
    <script src="UserProfile/Profile/Controller/userReviewsController.js"></script>

    <!--Renter Controllers-->
    <script src="UserProfile/RenterFeatures/Controller/userApartmentsController.js"></script>
    <script src="UserProfile/RenterFeatures/Controller/pendingOrdersController.js"></script>
    <script src="UserProfile/RenterFeatures/Controller/editApartmentController.js"></script>
    <script src="UserProfile/RenterFeatures/Controller/addApartmentController.js"></script>
    <script src="UserProfile/RenterFeatures/Controller/pendingOrdersController.js"></script>
    <script src="UserProfile/RenterFeatures/Controller/currentUserApartmentViewController.js"></script>
</head>
<body style="overflow-y:hidden">
    <div ng-app="apartrentApp" class="w3-row">
        <div class="w3-bar w3-purple w3-mobile w3-animate-top" style="height:60px" ng-switch="role" ng-controller="indexController">
            <div ng-switch-when="undefined">
                <a class="w3-bar-item w3-button w3-hover-blue w3-padding-16" style="height:61px" ui-sref="Login">Login</a>
                <a class="w3-bar-item w3-button w3-hover-blue w3-padding-16" style="height:61px" ui-sref="Register">Register</a>
                <div style="padding-left:40%;"><h1 ui-sref="index" style="margin:0;padding-top:0" class="w3-mobile w3-bar-item w3-hover-black">Apartrent</h1></div>
            </div>
            <div class="w3-bar w3-purple" ng-switch-when="0">
                <div>
                    <a class="w3-bar-item w3-button w3-hover-blue w3-padding-16" style="height:61px" ui-sref="ProfileParent.Profile({userName:userDetails.userName})">
                        Hello:{{userDetails.userName}}
                    </a>

                    <a class="w3-bar-item w3-button w3-hover-blue w3-padding-16" style="height:61px" ui-sref="ProfileParent.AddApartment({userName:userDetails.userName})">
                        Join us Now and<br /> become a renter
                    </a>
                    <a class="w3-bar-item w3-button w3-hover-blue w3-right w3-padding-16" style="height:61px" ng-click="$parent.logOut()">Log Out</a>
                </div>
            </div>
            <div class="w3-bar w3-purple" style="height:60px" ng-switch-when="1">
                <div>
                    <a class="w3-bar-item w3-button w3-hover-blue" style="height:61px" ui-sref="ProfileParent.Profile({userName:userDetails.userName})">
                        Hello:{{userDetails.userName}}<br />
                        <span ng-if="userDetails.pendingNotification === 0 || userDetails.pendingNotification === undefined">Pending Orders: 0</span>
                        <span ng-if="userDetails.pendingNotification > 0">Pending Orders:{{$parent.userDetails.pendingNotification}}</span>
                    </a>
                    <a class="w3-bar-item w3-button w3-hover-blue  w3-padding-16" style="height:61px" ui-sref="ProfileParent.AddApartment({userName:userDetails.userName})">
                        Add Apartment
                    </a>
                    <a class="w3-bar-item w3-button w3-hover-blue w3-right w3-padding-16" style="height:61px" ng-click="$parent.logOut()">logOut</a>
                </div>
            </div>
        </div>

        <ui-view></ui-view>
        <br /><br />
        <footer class="w3-container w3-tea" style="position:fixed">
            footer
        </footer>
    </div>
</body>
</html>