<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ApartRent</title>
    <base href="/" />
    <!--Dependecies-->
    <script src="Angular_Dependencies/angular.js"></script>
    <script src="Angular_Dependencies/angular_ui_route.js"></script>
    <link href="Angular_Dependencies/W3_CSS.css" rel="stylesheet" />
    <link href="SearchResult/Template/StyleSheet.css" rel="stylesheet" />
    <!--App config Controllers-->
    <script src="apartrentConfiguration.js"></script>
    <script src="indexController.js"></script>

    <!--Register/Login Controllers-->
    <script src="UserBar/Controller/registerController.js"></script>
    <script src="UserBar/Controller/loginController.js"></script>

    <!--Search And Result Controllers-->
    <script src="searchController.js"></script>
    <script src="SearchResult/Controller/searchResultController.js"></script>
    <script src="SearchResult/Controller/viewApartmentController.js"></script>

    <!--Factories And Services-->
    <script src="Factories and Services/userProfileFactory.js"></script>
    <script src="Factories and Services/countriesFactory.js"></script>
    <script src="Factories and Services/categoriesFactory.js"></script>
    <script src="Factories and Services/startupResolveFactory.js"></script>
    <script src="Factories and Services/apartmentsFactory.js"></script>
    <!--Orders/Reviews Controllers-->
    <script src="SearchResult/Controller/searchedApartmentReviewsController.js"></script>
    <script src="SearchResult/Controller/placeOrderController.js"></script>

    <!--Profile Controllers-->
    <script src="UserProfile/Profile/Controller/editAccountController.js"></script>
    <script src="UserProfile/Profile/Controller/ProfileController.js"></script>
    <script src="UserProfile/Profile/Controller/userOrdersController.js"></script>
    <script src="UserProfile/Profile/Controller/userReviewsController.js"></script>

    <!--Renter Controllers-->
    <script src="UserProfile/RenterFeatures/Controller/userApartmentsController.js"></script>
    <script src="UserProfile/RenterFeatures/Controller/pendingOrdersController.js"></script>
    <script src="UserProfile/RenterFeatures/Controller/editApartmentController.js"></script>
    <script src="UserProfile/RenterFeatures/Controller/addApartmentController.js"></script>
    <script src="UserProfile/RenterFeatures/Controller/pendingOrdersController.js"></script>
    <script src="UserProfile/RenterFeatures/Controller/currentUserApartmentViewController.js"></script>
</head>
<body style="width:100%;height:100%">

    <div ng-app="apartrentApp">
        <div class="w3-top" style="position:sticky;top:0">
            <div class="w3-bar w3-purple w3-mobile w3-animate-top" ng-switch="role" ng-controller="indexController">

                <h1 ui-sref="index" style="margin:0;padding-top:0;" class="w3-bar-item w3-mobile w3-hover-black">Apartrent</h1>

                <!-- <button ng-show="showNav" style="padding-bottom:1.2%" id="openNavButton" class="w3-right w3-button w3-hide-small w3-xlarge" ng-click="openSideBar()">&#9776;</button>-->
                <!-- Need to change the method to work with mobile -->

                <div ng-switch-when="undefined">
                    <a class="w3-bar-item  w3-button w3-hover-blue w3-col" style="padding-top:1.5%;padding-bottom:1.5%" ui-sref="Login">Login</a>
                    <a class="w3-bar-item  w3-button w3-hover-blue w3-col" style="padding-top:1.5%;padding-bottom:1.5%" ui-sref="Register">Register</a>
                </div>

                <div ng-switch-when="0">

                    <a class="w3-bar-item  w3-button w3-hover-blue w3-col " style="padding-top:1.5%;padding-bottom:1.5%" ui-sref="ProfileParent.Profile({userName:userDetails.userName})">
                        Hello:{{userDetails.userName}}
                    </a>

                    <a class="w3-bar-item  w3-button w3-hover-blue  w3-col" style="padding-top:1.5%;padding-bottom:1.5%" ui-sref="ProfileParent.AddApartment({userName:userDetails.userName})">
                        Become a renter
                    </a>
                    <a class="w3-bar-item  w3-button w3-hover-blue w3-col" style="padding-top:1.5%;padding-bottom:1.5%" ng-click="$parent.logOut()">Log Out</a>
                </div>
                <div ng-switch-when="1">
                    <div>
                        <a class="w3-bar-item w3-button w3-hover-blue w3-col" style="padding-top:1.5%;padding-bottom:1.5%" ui-sref="ProfileParent.Profile({userName:userDetails.userName})">
                            Hello:{{userDetails.userName}}
                            <span class="w3-badge w3-green" ng-if="userDetails.pendingNotification === 0 || userDetails.pendingNotification === undefined">0</span>
                            <span class="w3-badge w3-green" ng-if="userDetails.pendingNotification > 0">{{$parent.userDetails.pendingNotification}}</span>
                        </a>
                        <a class="w3-bar-item w3-button w3-hover-blue w3-col " style="padding-top:1.5%;padding-bottom:1.5%" ui-sref="ProfileParent.AddApartment({userName:userDetails.userName})">
                            Add Apartment
                        </a>
                        <a class="w3-bar-item w3-button w3-hover-blue w3-col " style="padding-top:1.5%;padding-bottom:1.5%" ng-click="$parent.logOut()">logOut</a>

                    </div>
                    <button ng-show="showNav" id="openNavButton" class="w3-button w3-block w3-center w3-hide-large" ng-click="openSideBar()">&#9776;</button>

                </div>


            </div>
        </div>
        <ui-view style="width:100%"></ui-view>
        <footer class="w3-container w3-tea" style="position:fixed">
            footer
        </footer>
    </div>
</body>
</html>