<div class="w3-sidebar w3-mobile w3-border w3-hide-medium w3-hide-small">
    <div ng-if="userDetails">
        <p class="w3-bar-item">Price for staying:</p>
        <p class="w3-bar-item w3-border-bottom">{{currentApartmentData.priceForStaying}}</p>
        <p class="w3-bar-item">Price per day:</p>
        <p class="w3-bar-item w3-border-bottom">{{currentApartmentData.pricePerDay}}</p>
        <p class="w3-bar-item">Price per guest:</p>
        <p class="w3-bar-item w3-border-bottom">{{currentApartmentData.pricePerGuest}}</p>

        <p class="w3-bar-item">Check In: </p>
        <p class="w3-bar-item w3-border-bottom">{{currentApartmentData.fromDate}}</p>
        <p class="w3-bar-item">Check Out: </p>
        <p class="w3-bar-item w3-border-bottom">{{currentApartmentData.toDate}}</p>
        <div class="w3-bar-item" ng-controller="placeOrdersController">
            <button ng-disabled="purchBtn" class="w3-button w3-win8-green w3-round w3-hover-blue" ng-click="newOrder(currentApartmentData)">Order Now</button>
            <div ng-show="successPurches">Your order as been send please wait for confirm you can always check it <a ui-sref="ProfileParent.UserOrders({userName:userDetails.userName})">here</a><button ng-click="successPurches=False">OK</button></div>
        </div>
    </div>
</div>



<div class="w3-animate-bottom " style="width:100%;display:flex;flex-direction:column;flex-wrap:wrap;justify-content:center;align-items:center">

    <div style="width:100%;max-width:500px" class="w3-content">
        <img style="width:100%;max-width:450px ;max-height:200px" class="" src="{{currentApartmentData.apartmentImage[index]}}" />
        <div class="w3-row-padding w3-section">
            <div class="w3-col s4" ng-repeat="image in currentApartmentData.apartmentImage track by $index">
                <img ng-if="image !== null " class=" w3-opacity w3-hover-opacity-off" src="{{image}}" style="width:100%;cursor:pointer;max-width:100px;max-height:50px" ng-click="changePicture($index)">
            </div>
        </div>
    </div>
    <br />
    <h3>Apartment Info:</h3>
    <div style="width:100%;display:flex;flex-direction:column;flex-wrap:wrap;justify-content:center;align-items:center" class="w3-mobile">
        <table class="w3-table-all" style="width:100%;max-width:450px">
            <tr>
                <th>Address:</th>
                <th>Country:</th>
            </tr>
            <tr>
                <td>{{currentApartmentData.address}} </td>
                <td>{{currentApartmentData.countryName}}</td>
            </tr>
            <tr>
                <th>Apartment type:</th>
                <th>Host name:</th>
            </tr>
            <tr>
                <td>{{currentApartmentData.apartmentType}}</td>
                <td>{{currentApartmentData.firstName}} {{currentApartmentData.lastName}}</td>
            </tr>
        </table>

        <article style="width:100%;max-width:450px" class="w3-border">
            <h4>Apartment description</h4>
            <p class="w3-text">{{currentApartmentData.description}}</p>
        </article>
    </div>
    <br />
    <h4>Rooms Info:</h4>
    <div style="width:100%;display:flex;flex-direction:column;flex-wrap:wrap;justify-content:center;align-items:center" class="w3-mobile">

        <table class="w3-table-all" style="width:100%;max-width:450px">
            <tr>
                <td>
                    <h5>Livingroom description:</h5>
                </td>
                <td style="padding-left:20px"><h5>{{currentApartmentData.livingRoomDescription}}</h5></td>
                <td></td>
                <td></td>


            </tr>
            <tr>


                <td><h5>Number of bedrooms:</h5></td>
                <td style="padding-left:20px"><h5>{{currentApartmentData.numberOfBedRooms}}</h5></td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td><h5>Bedrooms Description:</h5></td>
                <td style="padding-left:20px"><h5>{{currentApartmentData.bedRoomDescription}}</h5></td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td><h5>Quantity of beds:</h5></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="width:65px;height:54px"><h5>Queen size bed</h5></td>
                <td><h5>Double bed</h5></td>
                <td><h5>Single bed</h5></td>
                <td><h5>Sofa bed</h5></td>
            </tr>
            <tr>

                <td><h5>{{currentApartmentData.queenSizeBed}}</h5></td>
                <td><h5>{{currentApartmentData.doubleBed}}</h5></td>
                <td><h5>{{currentApartmentData.singleBed}}</h5></td>
                <td><h5>{{currentApartmentData.sofaBed}}</h5></td>
            </tr>
            <tr>

                <td><h5>Beds description:</h5></td>
                <td style="padding-left:20px"><h5>{{currentApartmentData.bedsDescription}}</h5></td>
                <td></td>
                <td></td>

            </tr>

        </table>
    </div>
    <h4>Apartment Features:</h4>

    <div style="width:100%;height:100%;max-height:620px;display:flex;flex-direction:row;flex-wrap:wrap;justify-content:center;align-items:center" class="w3-mobile">
        <table class="w3-table-all" style="width:100%;max-width:450px">
            <tr>
                <td>
                    <h5>Living room:</h5>
                    <img ng-if="currentApartmentData.livingRoom" src="../../ApartrentPhotos/living_room_Available.jpg" />
                    <img ng-if="!currentApartmentData.livingRoom" src="../../ApartrentPhotos/living_room_UnAvailable.jpg" />
                </td>
                <td>
                    <h5>TV:</h5> <img ng-if="currentApartmentData.tv" style="height:45px;width:45px" src="../../ApartrentPhotos/TV_available.jpg" />
                    <img ng-if="!currentApartmentData.tv" style="height:45px;width:45px" src="../../ApartrentPhotos/TV_Unavailable.jpg" />
                </td>
            </tr>
            <tr>

                <td>
                    <h5>Cables TV:</h5>
                    <img ng-if="currentApartmentData.cables" style="height:45px;width:45px" src="../../ApartrentPhotos/Cable_Available.jpg" />
                    <img ng-if="!currentApartmentData.cables" style="height:45px;width:45px" src="../../ApartrentPhotos/Cable_UnAvailable.jpg" />
                </td>
                <td>
                    <h5>Satellite TV:</h5>
                    <img ng-if="currentApartmentData.satellite" style="height:45px;width:45px" src="../../ApartrentPhotos/satellite_Available.jpg" />
                    <img ng-if="!currentApartmentData.satellite" style="height:45px;width:45px" src="../../ApartrentPhotos/satellite_UnAvailable.jpg" />
                </td>
            </tr>
            <tr>
                <td>
                    <h5>Pets:</h5>
                    <img ng-if="currentApartmentData.pets" style="height:45px;width:45px" src="../../ApartrentPhotos/pets_available.jpg" />
                    <img ng-if="!currentApartmentData.pets" style="height:45px;width:45px" src="../../ApartrentPhotos/pets_Unavailable.jpg" />
                </td>
                <td>
                    <h5>Wifi:</h5>
                    <img ng-if="currentApartmentData.wifi" style="height:45px;width:45px" src="../../ApartrentPhotos/wifi_available.jpg" />
                    <img ng-if="!currentApartmentData.wifi" style="height:45px;width:45px" src="../../ApartrentPhotos/wifi_Unavailable.jpg" />
                </td>
            </tr>
            <tr>
                <td>
                    <h5>Bath:</h5>
                    <img ng-if="currentApartmentData.bath" style="height:45px;width:45px" src="../../ApartrentPhotos/Bath_Available.jpg" />
                    <img ng-if="!currentApartmentData.bath" style="height:45px;width:45px" src="../../ApartrentPhotos/Bath_UnAvailable.jpg" />
                </td>
                <td>
                    <h5>Shower:</h5>
                    <img ng-if="currentApartmentData.shower" src="../../ApartrentPhotos/Shower_Available.jpg" />
                    <img ng-if="!currentApartmentData.shower" src="../../ApartrentPhotos/Shower_UnAvailable.jpg" />
                </td>

            </tr>
        </table>

    </div>


    <div style="width:100%;display:flex;flex-direction:column;flex-wrap:wrap;justify-content:center;align-items:center" class="w3-mobile w3-white">
        <h3>Reviews:</h3>

        <div class="w3-card w3-round w3-win8-mauve" style="width:100%;max-width:450px" ng-controller="searchedApartmentReviewsController">
            <div class="w3-mobile" style="width:100%" ng-if="currentApartmentData.reviews.length >= 1" ng-repeat="review in currentApartmentData.reviews track by $index">
                <div ng-if="review.userName != userDetails.userName">
                    <h6>User name: {{review.userName}}</h6>
                    <h6>Description: {{review.description}}</h6>
                    <h6>Rate: {{review.rating}}</h6>
                </div>
                <br />
                <div ng-if="review.userName == userDetails.userName">
                    <div ng-show="currentReview != $index">
                        <h6>User Name: {{review.userName}}</h6>
                        <h6>Desctiption: {{review.description}}</h6>
                        <h6>Rate: {{review.rating}}</h6>
                        <button class="w3-button w3-mobile w3-round w3-purple" ng-click="editReviewHandler($index)">Edit Review</button>
                        <button class="w3-button w3-mobile w3-round w3-red" ng-click="deleteReview(review,$index)">Delete Review</button>
                    </div>
                    <div ng-show="currentReview == $index">
                        <textarea style="width:100%;max-width:244.391px;resize:none" maxlength="70" placeholder="{{review.description}}" ng-model="$parent.editDescription"></textarea>
                        <p ng-if="$parent.editDescription">words left:{{70-$parent.editDescription.length}}</p>
                        <p ng-if="!$parent.editDescription">words left:70</p>
                        <input type="range" min="1" max="5" ng-model="$parent.editRating" /> Rate:{{$parent.editRating}}
                        <button class="w3-button w3-mobile w3-green w3-round" ng-click="editReview(review,$index)">Send Review</button>
                        <button class="w3-button w3-mobile w3-red w3-round" ng-click="editReviewHandler(-1)">Return</button>
                    </div>
                </div>

            </div>

            <div class="w3-animate-bottom" ng-if="currentApartmentData.reviews.length < 1">
                <h4>No reviews yet, rent this apartment and be the first who rate it</h4>
            </div>


        </div>

        <h3 class="w3-hide-large">Pay here</h3>
        <div class="w3-hide-large w3-mobile w3-metro-dark-red">
            <p class="">Price for staying:</p>
            <p class="">{{currentApartmentData.priceForStaying}}</p>
            <p class="">Price Per Day:{{currentApartmentData.pricePerDay}}</p>
            <p class="">Price per guest:{{currentApartmentData.pricePerGuest}}</p>


            <p>
                {{currentApartmentData.fromDate}}
                {{currentApartmentData.toDate}}
            </p>
            <div ng-if="userDetails" ng-controller="placeOrdersController">
                <button class="w3-button w3-mobile w3-round w3-metro-light-purple" ng-click="newOrder(currentApartmentData)">Order Now</button>
                <div ng-disabled="purchBtn" ng-show="successPurches">Your order as been send please wait for confirm you can always check it <a>here</a><button ng-click="successPurches=False">OK</button></div>
            </div>
            <div ng-if="!userDetails">
                <p>Login to order the apartment</p>
            </div>

        </div>


        <h3>Write a review here:</h3>
        <div ng-controller="searchedApartmentReviewsController" ng-if="noEditReview === true" style="width:100%;display:flex;flex-direction:column;flex-wrap:wrap;justify-content:center;align-items:center" class="w3-mobile">
            <div class="w3-mobile">
                <textarea ng-disabled="!userDetails" style="height:100%;width:100%;max-width:300px;max-height:70px;resize:none" maxlength="70" ng-model="$parent.reviewDescription" placeholder="Type your review here"></textarea>
                <p ng-if="$parent.reviewDescription">words left:{{70-$parent.reviewDescription.length}}</p>
                <p ng-if="!$parent.reviewDescription">words left:70</p>
                <input style="width:170px" class="w3-input" type="range" min="1" max="5" ng-model="$parent.reviewRating" />
                <p>Rate:{{$parent.reviewRating}}</p>
                <br />
                <button class="w3-button w3-round w3-purple" ng-click="newReview(currentApartmentData.apartmentID)">Send Review</button>
                <span ng-show="errorMessage">Sorry something went wrong please try again if you have rent the apartment<a ng-click="errorMessage = false">&times;</a></span>
            </div>
        </div>
    </div>
</div>

