<div ng-switch="userDetails.role">
    <div ng-switch-when="1">
        <div class="userSideBar">
            <br />
            <a ng-href="yourProfile/{{userDetails.userName}}/editAccount.html">Edit account</a>
            <a ng-href="yourProfile/{{userDetails.userName}}/userApartments.html">My apartments</a>
            <a ng-click="getUserReviews()"  ng-href="yourProfile/{{userDetails.userName}}/myReviews.html">My Reviews</a>
            <a ng-href="yourProfile/{{userDetails.userName}}/myOrders.html">History of purchses</a>
        </div>
        <div class="renterProfileContent">
            Select Apartment Category:<select ng-model="$parent.categoryID">
                <option ng-repeat="category in categories" ng-value="category.categoryID">{{category.apartmentType}}</option>
            </select>
            <br />

            Number Of Guests: <input placeholder="1" ng-model="$parent.numberOfGuests" type="range" min="1" max="20" />
            <br />

            Address: <input ng-model="$parent.address" type="text" />
            <br />

            Select country:<select ng-disabled="errorMessageDisplay" ng-model="$parent.countryID" required id="countrySelect">
                <option ng-repeat="country in countries track by $index" ng-value="country.countryID">{{country.countryName}}</option>
            </select>
            <br />
            From Date: <input type="date" min="{{fromDate | date:'yyyy-MM-dd'}}" ng-model="$parent.availableFromDate" />
            <br />

            To Date: <input type="date" min="{{searchAvailableFromDate  | date:'yyyy-MM-dd'}}" ng-model="$parent.availableToDate" />
            <br />

            Price Per Day<input type="number" ng-model="$parent.pricePerDay" />
            <br />
            Description <textarea ng-model="$parent.description"></textarea>
            <br />

            <div>
                Shower:<input ng-model="$parent.isShower" type="checkbox" />
                Bath:<input ng-model="$parent.isBath" type="checkbox" />
                WIFI:<input ng-model="$parent.isWIFI" type="checkbox" />
                TV:<input ng-model="$parent.isTV" type="checkbox" />
                Cables:<input ng-model="$parent.isCables" type="checkbox" />
                Satellite:<input ng-model="$parent.isSatellite" type="checkbox" />
                Pets:<input ng-model="$parent.isPets" type="checkbox" />
                Number of Bed Rooms<input ng-model="$parent.numberOfBedRooms" type="number" />
                Living Room:<input ng-model="$parent.isLivingRoom" type="checkbox" />
                BedRoom Description:<textarea ng-model="$parent.bedRoomDescription"></textarea>
                Living Room Description:<textarea ng-model="$parent.livingRoomDescription"></textarea>
                Queen Size Bed: <input min="0" placeholder="0" ng-model="$parent.queenSizeBed" type="number" />
                Double Bed: <input min="0" placeholder="0" ng-model="$parent.doubleBed" type="number" />
                Single Bed: <input min="0" placeholder="0" ng-model="$parent.singleBed" type="number" />
                Sofa Bed: <input min="0" placeholder="0" ng-model="$parent.sofaBed" type="number" />
                Beds Description: <textarea ng-model="$parent.bedsDescription"></textarea>
            </div>
            <a ng-href="yourProfile/{{userDetails.userName}}/userApartments.html" ng-click="addApartment()">Send</a>
        </div>
    </div>
    <div ng-switch-when="0">
        <div class="userSideBar">
            <br />
            <a>save spot for image<img /></a>
            <a ng-href="yourProfile/{{userDetails.userName}}/editAccount.html">Edit account</a>
            <a ng-click="getUserReviews()"  ng-href="yourProfile/{{userDetails.userName}}/myReviews.html">My Reviews</a>
            <a ng-href="yourProfile/{{userDetails.userName}}/myOrders.html">History of purchses</a>
        </div>
        <div class="userProfileContent">
            Select Apartment Category:<select ng-model="$parent.categoryID">
                <option ng-repeat="category in $parent.categories" value="category.categoryID">{{category.apartmentType}}</option>
            </select>
            <br />
            Number Of Guests: <input ng-model="$parent.numberOfGuests" type="range" min="1" max="20" />
            <br />

            Address: <input ng-model="$parent.address" type="text" />
            <br />

            Select country:<select ng-disabled="errorMessageDisplay" ng-model="countryID" required id="countrySelect">
                <option ng-repeat="country in countries track by $index" ng-value="country.countryID">{{country.countryName}}</option>
            </select>
            <br />

            From Date: <input type="date" min="{{fromDate | date:'yyyy-MM-dd'}}" ng-model="$parent.availableFromDate" />
            <br />
            To Date: <input type="date" min="{{searchAvailableFromDate  | date:'yyyy-MM-dd'}}" ng-model="$parent.availableToDate" />
            <br />
            Price Per Day<input type="number" ng-model="$parent.pricePerDay" />
            <br />
            Description <textarea ng-model="$parent.description"></textarea>
            <br />

            <div>
                Shower:<input ng-model="$parent.isShower" type="checkbox" />
                Bath:<input ng-model="$parent.isBath" type="checkbox" />
                WIFI:<input ng-model="$parent.isWIFI" type="checkbox" />
                TV:<input ng-model="$parent.isTV" type="checkbox" />
                Cables:<input ng-model="$parent.isCables" type="checkbox" />
                Satellite:<input ng-model="$parent.isSatellite" type="checkbox" />
                Pets:<input ng-model="$parent.isPets" type="checkbox" />
                Number of Bed Rooms<input ng-model="$parent.numberOfBedRooms" type="number" />
                Living Room:<input ng-model="$parent.isLivingRoom" type="checkbox" />
                BedRoom Description:<textarea ng-model="$parent.bedRoomDescription"></textarea>
                Living Room Description:<textarea ng-model="$parent.livingRoomDescription"></textarea>
                Queen Size Bed: <input ng-model="$parent.queenSizeBed" type="number" />
                Double Bed: <input ng-model="$parent.doubleBed" type="number" />
                Single Bed: <input ng-model="$parent.singleBed" type="number" />
                Sofa Bed: <input ng-model="$parent.sofaBed" type="number" />
                Beds Description: <textarea ng-model="$parent.bedsDescription"></textarea>
            </div>
            <a ng-href="yourProfile/{{userDetails.userName}}/becomeRenter.html">Send</a>
        </div>
    </div>
</div>