<div ng-switch="userDetails.role">
    <div ng-switch-when="0">
        <div class="userSideBar">
            <br />
            <a>save spot for image<img /></a>
            <a ng-href="yourProfile/{{userDetails.userName}}/editAccount.html">Edit account</a>
            <a ng-click="getUserReviews()" ng-href="yourProfile/{{userDetails.userName}}/myReviews.html">My Reviews</a>
            <a ng-href="yourProfile/{{userDetails.userName}}/myOrders.html">History of purchses</a>
        </div>

    </div>
    <div ng-switch-when="1">

        <div class="renterSideBar">
            <br />
            <a>save spot for image<img /></a>
            <a ng-href="yourProfile/{{userDetails.userName}}/editAccount.html">Edit account</a>
            <a ng-href="yourProfile/{{userDetails.userName}}/userApartments.html">My apartments</a>
            <a ng-click="getUserReviews()" ng-href="yourProfile/{{userDetails.userName}}/myReviews.html">My Reviews</a>
            <a ng-href="yourProfile/{{userDetails.userName}}/myOrders.html">History of purchses</a>
        </div>
        <div class="renterProfileContent">


            <div>

                <p>
                    <img /> save spot for imgs
                </p>

                <br />
                <p>{{$parent.currentApartmentData.address}}</p>

                <p>
                    {{$parent.currentApartmentData.pricePerDay}}
                </p>

                <p>{{countries[$parent.currentApartmentData.countryID-1].countryName}}</p>
                <p>{{$parent.currentApartmentData.apartmentType}}</p>
                <p>{{$parent.currentApartmentData.description}}</p>

                <h3>Apartment Features:</h3><input type="checkbox" ng-model="selectFeat" />
                <div ng-show="selectFeat">

                    <p>{{$parent.currentApartmentData.numberOfGuests}}</p>

                    <p>{{$parent.currentApartmentData.shower}}</p>
                    <p>{{$parent.currentApartmentData.wifi}}</p>
                    <p>{{$parent.currentApartmentData.tv}}</p>
                    <p>{{$parent.currentApartmentData.cables}}</p>
                    <p>{{$parent.currentApartmentData.satellite}}</p>
                    <p>{{$parent.currentApartmentData.pets}}</p>
                    <p>{{$parent.currentApartmentData.bath}}</p>
                    <p>{{$parent.currentApartmentData.livingRoom}}</p>
                    <p>{{$parent.currentApartmentData.livingRoomDescription}}</p>

                    <p>{{$parent.currentApartmentData.numberOfBedRooms}}</p>

                    <p>{{$parent.currentApartmentData.bedRoomDescription}}</p>
                    <p>{{$parent.currentApartmentData.queenSizeBed}}</p>
                    <p>{{$parent.currentApartmentData.doubleBed}}</p>
                    <p>{{$parent.currentApartmentData.singleBed}}</p>
                    <p>{{$parent.currentApartmentData.sofaBed}}</p>
                    <p>{{$parent.currentApartmentData.bedsDescription}}</p>
                </div>
            </div>
            <br />

            Show Reviews:<input type="checkbox" ng-model="selectRev">
            <div ng-repeat="review in $parent.currentApartmentData.reviews track by $index" ng-show="selectRev">
                <div>
                    {{review.userName}}
                    {{review.description}}
                    {{review.rating}}
                </div>
                <br />
            </div>
            <br />
            <br />
            Apartment Approve Orders:<input type="checkbox" ng-model="selectOrders">
            <div ng-repeat="order in $parent.currentApartmentData.orders track by $index" ng-show="selectOrders">
                <div>
                    <p>From:{{order.userName}}</p>
                    <p>Check-In:{{order.fromDate}}</p>
                    <p>Check-Out:{{order.toDate}}</p>
                    <p>Order Date:{{order.orderDate}}</p>
                    <p>Price:{{order.price}}</p>
                </div>
                <br />
            </div>


        </div>
    </div>
</div>
