<div ng-switch="userDetails.role">
    <div ng-switch-when="0">
        <div class="userSideBar">
            <br />
            <a>save spot for image<img /></a>
            <a ng-href="yourProfile/{{userDetails.userName}}/editAccount.html">Edit account</a>
            <a ng-click="getUserReviews()" ng-href="yourProfile/{{userDetails.userName}}/myReviews.html">My Reviews</a>
            <a ng-href="yourProfile/{{userDetails.userName}}/myOrders.html">History of purchses</a>
        </div>

    </div>
    <div ng-switch-when="1">

        <div class="renterSideBar">
            <br />
            <a>save spot for image<img /></a>
            <a ng-href="yourProfile/{{userDetails.userName}}/editAccount.html">Edit account</a>
            <a ng-href="yourProfile/{{userDetails.userName}}/userApartments.html">My apartments</a>
            <a ng-click="getUserReviews()" ng-href="yourProfile/{{userDetails.userName}}/myReviews.html">My Reviews</a>
            <a ng-href="yourProfile/{{userDetails.userName}}/myOrders.html">History of purchses</a>
        </div>
        <div class="renterProfileContent">


            <div>

                <p>
                    <img /> save spot for imgs
                </p>

                <br />
                <p>{{$parent.userDetails.currentApartment.address}}</p> 

                <p>
                    {{$parent.userDetails.currentApartment.pricePerDay}}
                </p>

                <p>{{countries[$parent.userDetails.currentApartment.countryID-1].countryName}}</p>
                <p>{{$parent.userDetails.currentApartment.apartmentType}}</p>
                <p>{{$parent.userDetails.currentApartment.description}}</p>

                <h3>Apartment Features:</h3><input type="checkbox" ng-model="selectFeat" />
                <div ng-show="selectFeat">

                    <p>{{$parent.userDetails.currentApartment.numberOfGuests}}</p>

                    <p>{{$parent.userDetails.currentApartment.shower}}</p>
                    <p>{{$parent.userDetails.currentApartment.wifi}}</p>
                    <p>{{$parent.userDetails.currentApartment.tv}}</p>
                    <p>{{$parent.userDetails.currentApartment.cables}}</p>
                    <p>{{$parent.userDetails.currentApartment.satellite}}</p>
                    <p>{{$parent.userDetails.currentApartment.pets}}</p>
                    <p>{{$parent.userDetails.currentApartment.bath}}</p>
                    <p>{{$parent.userDetails.currentApartment.livingRoom}}</p>
                    <p>{{$parent.userDetails.currentApartment.livingRoomDescription}}</p>

                    <p>{{$parent.userDetails.currentApartment.numberOfBedRooms}}</p>

                    <p>{{$parent.userDetails.currentApartment.bedRoomDescription}}</p>
                    <p>{{$parent.userDetails.currentApartment.queenSizeBed}}</p>
                    <p>{{$parent.userDetails.currentApartment.doubleBed}}</p>
                    <p>{{$parent.userDetails.currentApartment.singleBed}}</p>
                    <p>{{$parent.userDetails.currentApartment.sofaBed}}</p>
                    <p>{{$parent.userDetails.currentApartment.bedsDescription}}</p>
                </div>
            </div>
            <br />

            Show Reviews:<input type="checkbox" ng-model="selectRev">
            <div ng-repeat="review in $parent.userDetails.currentApartment.reviews track by $index" ng-show="selectRev">
                <div>
                    {{review.userName}}
                    {{review.description}}
                    {{review.rating}}
                </div>
                <br />
            </div>
            <br />
            <br />
            Apartment Approve Orders:<input type="checkbox" ng-model="selectOrders" ng-click="getApartmentOrders()">
            <div ng-repeat="order in $parent.userDetails.currentApartment.orders track by $index" ng-show="selectOrders">
                <div>
                    <p>From:{{order.userName}}</p>
                    <p>Check-In:{{order.fromDate}}</p>
                    <p>Check-Out:{{order.toDate}}</p>
                    <p>Order Date:{{order.orderDate}}</p>
                    <p>Price:{{order.price}}</p>
                </div>
                <br />
            </div>


        </div>
    </div>
</div>
