<div ng-show="showRegister">

    User Name:<input class="loginInput" type="text" ng-model="$parent.newUserName" />
    <br />
    Password:<input class="loginInput" type="password" ng-model="$parent.newPassword" /><br />
    Gender:<select class="loginInput" ng-model="$parent.newGender">
        <option value="true">Male</option>
        <option value="false">Female</option>
    </select>
    <br />
    Address:<input class="loginInput" type="text" ng-model="$parent.newAddress" /><br />
    Phone Number:<input class="loginInput" type="tel" ng-model="$parent.newPhoneNumber" /><br />
    Email:<input class="loginInput" type="email" ng-model="$parent.newEmail" /><br />
    First Name:<input class="loginInput" type="text" ng-model="$parent.newFirstName" /><br />
    Last Name:<input class="loginInput" type="text" ng-model="$parent.newLastName" /><br />
    Country: <select class="loginInput" ng-model="$parent.newCountryID" required id="countrySelect">
        <option ng-repeat="country in countries track by $index" ng-value="country.countryID">{{country.countryName}}</option>
    </select>
    <br />
    <button ng-click="signUp()">SignUp</button>
    <button ng-click="handelNavBarRegister()">exit</button>
</div>