<div id="searchAndResultDiv" ng-hide="searchAndResultDiv" ng-controller="apartrentSearchController">
        <div id="searchApartment" ng-hide="searchHide">
            <div id="searchWindow">
                <h3>Where would you like to travel?</h3>
                <select ng-disabled="errorMessageDisplay" ng-model="searchCountryID" required id="countrySelect">
                    <option ng-repeat="country in countries track by $index" ng-value="country.countryID">{{country.countryName}}</option>
                </select>
                <br />
                <br />
                Check in: <input ng-disabled="errorMessageDisplay" ng-model="searchAvailableFromDate" id="CheckIn" min="{{fromDate | date:'yyyy-MM-dd'}}" type="date" />
                <br /><br />
                Check Out: <input ng-disabled="errorMessageDisplay" id="CheckOut" min="{{searchAvailableFromDate  | date:'yyyy-MM-dd'}}" type="date" ng-model="searchAvailableToDate" />
                <br />
                <br />
                Guests: <input ng-disabled="errorMessageDisplay" value="" type="range" min="1" max="20" step="1" ng-model="searchGuests" /><p>{{searchGuests}}</p>
                <a ng-href="searchResult/{{countries[searchCountryID - 1].countryName}}.html" ng-click="searchApartment()" ng-disabled="searchButtonDisabled || errorMessageDisplay" ng-hide="errorMessageDisplay">Send</a>
                <span id="errorMessage" ng-show="errorMessageDisplay"><a ng-bind="errorMessage"></a></span>
                <button id="errorMessagebtn" ng-show="errorMessageDisplay" type="button" ng-click="errorMessageDisplay=false">OK</button>
            </div>
        </div>
    </div>
</div>