<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ApartRent</title>
    <base href="/Index.html" />
    <script src="angular.min.js"></script>
    <script src="angular-route.min.js"></script>
    <script src="AngularControllers/apartrentResultController.js"></script>
    <script src="AngularControllers/userProfileController.js"></script>
    <script src="AngularControllers/apartmentController.js"></script>
    <style>
        @import url('navbar.css');
        @import url('userdashboard.css');
        @import url('renterdashboard.css');
        @import url('orderbar.css');

        * {
            padding: 0;
            margin: 0;
        }

        body {
            width: 100%;
            height: 100%;
        }

        #searchApartment {
            width: 100%;
            height: 100%;
            position: absolute;
            background-image: url('IndexBackGround.jpg');
            background-repeat: no-repeat;
            color: white;
        }

        #searchWindow {
            width: 30%;
            bottom: 17%;
            right: 50%;
            background-color: white;
            opacity: 0.5;
            color: black;
            position: absolute;
            font-size: 20px;
            border-radius: 25px;
            border: 2px solid #73AD21;
            padding: 20px;
        }

            #searchWindow:hover {
                opacity: 1;
            }

        #countrySelect {
        }


        #errorMessage, #errorMessagebtn {
            position: relative;
            margin: 0;
        }
    </style>
</head>
<body>
    <div ng-app="apartrentApp">

        <div ng-controller="navBarController">
            <div ng-switch="role">
                <ul ng-switch-when="-1" class="ulLoginRegisterBar">
                    <li id="liLoginRegisterBar" class="dropli">
                        <a ng-click="handelNavBarLogin() " class="dropbtn">Login</a>
                        <div class="Logindropdown-content" ng-show="showLogin">
                            User Name:<input class="loginInput" type="text" ng-model="$parent.loginUserName" />
                            <br />
                            Password:<input class="loginInput" type="password" ng-model="$parent.loginPassword" /><br />
                            <button ng-click="login()">Send</button>
                            <button ng-click="handelNavBarLogin()">exit</button>
                            <span id="errorLogin" ng-show="errorLoginDisplay">error somthing went wrong</span>
                            
                        </div>
                    </li>
                    <li id="liLoginRegisterBar" class="dropli">
                        <a ng-click="handelNavBarRegister()" class="dropbtn">Register</a>
                        <div class="Logindropdown-content" ng-show="showRegister">

                            User Name:<input class="loginInput" type="text" ng-model="$parent.newUserName" />
                            <br />
                            Password:<input class="loginInput" type="password" ng-model="$parent.newPassword" /><br />
                            Gender:<select class="loginInput" ng-model="$parent.newGender">
                                <option value="true">Male</option>
                                <option value="false">Female</option>
                            </select>
                            <br />
                            Address:<input class="loginInput" type="text" ng-model="$parent.newAddress" /><br />
                            Phone Number:<input class="loginInput" type="tel" ng-model="$parent.newPhoneNumber" /><br />
                            Email:<input class="loginInput" type="email" ng-model="$parent.newEmail" /><br />
                            First Name:<input class="loginInput" type="text" ng-model="$parent.newFirstName" /><br />
                            Last Name:<input class="loginInput" type="text" ng-model="$parent.newLastName" /><br />
                            Country: <select class="loginInput" ng-model="$parent.newCountryID" required id="countrySelect">
                                <option ng-repeat="country in countries track by $index" ng-value="country.countryID">{{country.countryName}}</option>
                            </select>
                            <br />
                            <button ng-click="signUp()">SignUp</button>
                            <button ng-click="handelNavBarRegister()">exit</button>
                        </div>
                    </li>
                </ul>
                <ul ng-switch-when="0" class="ulLoginRegisterBar">
                    <li id="liLoginRegisterBar" >
                        <a href="#!yourProfile/{{user.userName}}.html" style="font-size:15px;">
                            <span ng-click="showYourProfile()">
                            Name:{{user.firstName}}
                            {{user.lastName}}
                            <br />User Name:{{user.userName}}
                            </span>
                        </a>
                    </li>

                    <li id="liLoginRegisterBar">
                        <a href="#!yourProfile/{{user.userName}}/addApartment.html">
                            Join us Now and<br /> become a renter
                        </a>
                    </li>
                    <li id="liLoginRegisterBar">
                        <a><span ng-click="logout()" style="font-size:20px; height:100%;">Log Out</span></a>
                    </li>
                </ul>
                <ul ng-switch-when="1" class="ulLoginRegisterBar">
                    <li id="liLoginRegisterBar">
                        <a ng-href="#!yourProfile/{{user.userName}}.html" style="font-size:15px;">
                            <span ng-click="showYourProfile()">
                                Name:{{user.firstName}}
                                {{user.lastName}}
                                <br />User Name:{{user.userName}}
                            </span>
                        </a>
                        <a ng-href="#!yourProfile/{{user.userName}}/addApartment.html">
                            Add Apartment
                        </a>
                    </li>
                    <li id="liLoginRegisterBar">
                        <a><span ng-click="logout()">Log Out</span></a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="searchAndResultDiv" ng-hide="searchAndResultDiv">
            <div ng-controller="apartrentSearchController">

                <div id="searchApartment" ng-hide="searchHide">
                    <div id="searchWindow">
                        <h3>Where would you like to travel?</h3>
                        <select ng-disabled="errorMessageDisplay" ng-model="searchCountryID" required id="countrySelect">
                            <option ng-repeat="country in countries track by $index" ng-value="country.countryID">{{country.countryName}}</option>
                        </select>
                        <br />
                        <br />
                        Check in: <input ng-disabled="errorMessageDisplay" ng-model="searchAvailableFromDate" id="CheckIn" min="{{fromDate | date:'yyyy-MM-dd'}}" type="date" />
                        <br /><br />
                        Check Out: <input ng-disabled="errorMessageDisplay" id="CheckOut" min="{{searchAvailableFromDate  | date:'yyyy-MM-dd'}}" type="date" ng-model="searchAvailableToDate" />
                        <br />
                        <br />
                        Guests: <input ng-disabled="errorMessageDisplay" value="" type="range" min="1" max="20" step="1" ng-model="searchGuests" /><p>{{searchGuests}}</p>
                        <a ng-href="#!searchResult/{{countries[searchCountryID - 1].countryName}}.html" ng-click="searchApartment()" ng-disabled="searchButtonDisabled || errorMessageDisplay" ng-hide="errorMessageDisplay">Send</a>
                        <span id="errorMessage" ng-show="errorMessageDisplay"><a ng-bind="errorMessage"></a></span>
                        <button id="errorMessagebtn" ng-show="errorMessageDisplay" type="button" ng-click="errorMessageDisplay=false">OK</button>
                    </div>
                </div>
                <div ng-view></div>
            </div>
        </div>

    </div>
    <script>
        var apartmentApp = angular.module('apartrentApp', ['ngRoute', 'apartrentResultController', 'userProfileController','apartmentController']);
        ////apartmentApp.config(function ($routeProvider) {
        //    var getPath = function (path) {// gettin the path change to add {{}} on ng-href
        //        return '/i' + (path.indexOf('/') === 0 ? path : '/' + path);
        //    };
        //    var config = {
        //        when: function (path, route) {
        //            if (route.overriderRoot) {
        //                $routeProvider.when(path, route);
        //            } else {
        //                var redirect = angular.copy(route);
        //                delete redirect.templateUrl;
        //                delete redirect.controller;
        //                redirect.redirectTo = getPath(path);
        //                $routeProvider
        //                    .when(path, redirect)
        //                    .when(getPath(path), route);
        //            }
        //            return this;
        //        },
        //        otherwise: function (config) {
        //            $routeProvider.otherwise(config);
        //            return this;
        //        }
        //    };
        //    //this works
        //    config
        //        .when("/searchResult/:id.html", { templateUrl: "searchResult.html", controller: "apartrentResultController" })
        //        .when("/searchResult/:id/viewApartment.html", { templateUrl: "viewApartment.html", controller: "apartrentResultController" })
        //        .when("/yourProfile/:id.html", { templateUrl: "UserDashBoard/yourProfile.html", controller: "userProfileController" })
        //        .when("/yourProfile/:id/editAccount.html", { templateUrl: "UserDashBoard/editAccount.html", controller: "userProfileController" })
        //        .when("/yourProfile/:id/becomeRenter.html", { templateUrl: "UserDashBoard/becomeRenter.html", controller: "userProfileController" })
        //        .when("/yourProfile/:id/myOrders.html", { templateUrl: "UserDashBoard/myOrders.html", controller: "userProfileController" })
        //        .when("/yourProfile/:id/myReviews.html", { templateUrl: "UserDashBoard/myReviews.html", controller: "userProfileController" })
        //        .when("/yourProfile/:id/addApartment.html", { templateUrl: "RenterDashBoard/addApartment.html", controller: "apartmentController" })
        //        .when("/yourProfile/:id/userApartments.html", { templateUrl: "RenterDashBoard/userApartments.html", controller: "apartmentController" })
        //        .when("/yourProfile/:id/editApartment.html", { templateUrl: "RenterDashBoard/editApartment.html", controller: "apartmentController" })
        //        .when("/yourProfile/:id/viewUserApartment.html", { templateUrl: "RenterDashBoard/viewUserApartment.html", controller: "apartmentController" })
        //        .when("/yourProfile/:id/userApartments/pendingOrders.html", { templateUrl: "RenterDashBoard/pendingOrders.html", controller:"apartmentController" })
                
        //});

        apartmentApp.config(function ($routeProvider, $locationProvider) {
            $routeProvider
                .when("/searchResult/:id.html", { templateUrl: "searchResult.html", controller: "apartrentResultController" })
                .when("/searchResult/:id/viewApartment.html", { templateUrl: "viewApartment.html", controller: "apartrentResultController" })
                .when("/yourProfile/:id.html", { templateUrl: "UserDashBoard/yourProfile.html", controller: "userProfileController" })
                .when("/yourProfile/:id/editAccount.html", { templateUrl: "UserDashBoard/editAccount.html", controller: "userProfileController" })
                .when("/yourProfile/:id/becomeRenter.html", { templateUrl: "UserDashBoard/becomeRenter.html", controller: "userProfileController" })
                .when("/yourProfile/:id/myOrders.html", { templateUrl: "UserDashBoard/myOrders.html", controller: "userProfileController" })
                .when("/yourProfile/:id/myReviews.html", { templateUrl: "UserDashBoard/myReviews.html", controller: "userProfileController" })
                .when("/yourProfile/:id/addApartment.html", { templateUrl: "RenterDashBoard/addApartment.html", controller: "apartmentController" })
                .when("/yourProfile/:id/userApartments.html", { templateUrl: "RenterDashBoard/userApartments.html", controller: "apartmentController" })
                .when("/yourProfile/:id/editApartment.html", { templateUrl: "RenterDashBoard/editApartment.html", controller: "apartmentController" })
                .when("/yourProfile/:id/viewUserApartment.html", { templateUrl: "RenterDashBoard/viewUserApartment.html", controller: "apartmentController" })
                .when("/yourProfile/:id/userApartments/pendingOrders.html", { templateUrl: "RenterDashBoard/pendingOrders.html", controller: "apartmentController" })
            $locationProvider.html5Mode(true);
        });


        apartmentApp.run(function ($rootScope, $location, $route, apartmentsDataForLocationService, currentApartment) {
            //$rootScope.$on('$locationChangeSuccess', function () { // caching location change

            //    if ($location.path() == $rootScope.oldLocation)
            //      $rootScope.oldLocation = $location.path();//need to add token here
            //});

            $rootScope.$watch(function () { return $location.path(); }, function (newLocation) { // watch if user change url
                if ($rootScope.oldLocation != newLocation) {
                    var caseParam = newLocation.split("/");
                    if (caseParam[1] == "i")
                        caseParam[1] = caseParam[2];
                    switch (caseParam[1]) { //change old location data and show the div that you supposed to see
                        case "":
                            $rootScope.searchHide = false;  
                            $rootScope.viewProfile = true;
                            $rootScope.oldLocation = $location.path();

                            break;
                        case "searchResult":// need to call get data
                            $rootScope.searchHide = true;
                            $rootScope.viewProfile = true;
                            $rootScope.oldLocation = $location.path();
                            apartmentsDataForLocationService.getApartmentsData();
                            if (caseParam[4] == "viewApartment.html")
                                currentApartment.getData();
                            break;
                        case "yourProfile":
                            $rootScope.searchHide = true;
                            $rootScope.viewProfile = false;
                            $rootScope.oldLocation = $location.path();

                            break;
                        default:
                             $rootScope.searchHide = false;
                            $rootScope.viewProfile = true;
                            $rootScope.oldLocation = $location.path();
                            break;
                   
                    }
                }
            });

        });

        apartmentApp.factory("apartmentsDataForLocationService", function ($rootScope) {
            var apartmentsData = {};

            apartmentsData.data = '';
            apartmentsData.setApartmentsData = function (data) {
                this.data = data;
                this.getApartmentsData();
            };

            apartmentsData.getApartmentsData = function () {
                $rootScope.$broadcast('getApartmentsData');
            };

            apartmentsData.resetData = function () {
                apartmentsData = {};
            };
            return apartmentsData;
            
        }); // save the data gained from the server on the apartments client searched
        apartmentApp.factory("currentApartment", function ($rootScope) {
            var apartmentsData = {};

            apartmentsData.data = '';
            apartmentsData.setData = function (data) {
                this.data = data;
                this.getData();
            };

            apartmentsData.getData = function () {
                $rootScope.$broadcast('getCurrentApartment');
            };

            apartmentsData.resetData = function () {
                apartmentsData = {};
            };
            return apartmentsData;
        });
        apartmentApp.factory("countriesService", function () {
            var countriesData = {};

             countriesData.data = '';

            countriesData.setData = function (data) {
                this.data = data;
                this.getData();
            };

            countriesData.getData = function () {
                $rootScope.$broadcast('getCountries');
            };

            countriesData.resetData = function () {
                countriesData.data = '';
            }
            return countriesData;


        });// save the countries data
        apartmentApp.factory("userProfile", function ($rootScope) {
            var userProfile = {};

            userProfile.data = '';
            
            userProfile.setData = function (data) {
                this.data = data;
                if (data != null || data != '')
                    $rootScope.role = data.role
                else
                    $rootScope.role = -1;
                this.getData();
            };

            userProfile.getData = function () {
                $rootScope.$broadcast('getUserData');
            };

            userProfile.resetData = function () {
                this.setData('');
                
            };
            return userProfile;
    
        });//will save the profile of the client

        apartmentApp.factory("categoriesFactory", function ($rootScope) {
            var categories = {};

            categories.data = '';
            categories.setData = function (data) {
                this.data = data;
                this.getData();
            };

            categories.getData = function () {
                $rootScope.$broadcast('getCategories');
            };

            categories.resetData = function () {
                categories.data = '';
            };

            return categories;
        });

        var date = new Date();//fetchin date object for today date

        apartmentApp.controller("navBarController", function ($scope, $http, $rootScope, countriesService, userProfile,$location) {
            $rootScope.role = -1; //change the view of navBar
            $scope.countries = [];

            $scope.showLogin = false;
            $scope.showRegister = false;

            $scope.loginUserName = "";
            $scope.loginPassword = "";

            $scope.user;

            $scope.$on("getCountries", function () {
                $scope.getCountries();//get countries after they gained from server
            });

            $scope.$on("getUserData", function () {
                $scope.user = userProfile.data;
            });

            $scope.$on("getCountries", function () {
                $scope.countries = countriesService.data;
            });

            $scope.handelNavBarLogin = function () {//close and open login div making sure register is not open too
                if ($scope.showLogin) {
                    $scope.showLogin = !$scope.showLogin;
                    $scope.showRegister = false;
                    $scope.loginUserName = "";
                    $scope.loginPassword = "";
                    return;
                }
                $scope.loginUserName = "";
                $scope.loginPassword = "";
                $scope.showRegister = false;
                $scope.showLogin = true;

            };

            $scope.handelNavBarRegister = function () {//close and open register div making sure login is not open too
                if ($scope.showRegister) {
                    $scope.showRegister = !$scope.showRegister;
                    $scope.showLogin = false;
                    return;
                }
                $scope.showRegister = true;
                $scope.showLogin = false;

            };

            $scope.login = function () { //login vadilation through get request
                $http.get('api/users/login?userName=' + $scope.loginUserName + '&password=' + $scope.loginPassword).then(function (response) {
                    if (response.data) {
                        userProfile.resetData();
                        userProfile.setData(response.data); //save data in factory
                        $scope.user = userProfile.data;//save data in user global variable
                        $scope.errorLoginDisplay = false;
                        $rootScope.role = response.data.role; // change role to change navBar status
                        userProfile.data.password = $scope.loginPassword;// all the userProfile will be in token for now i need to save the password like this 
                        $scope.handelNavBarLogin();//close login
                        $scope.loginUserName = "";
                        $scope.loginPassword = "";
                        return true;
                    }
                    $scope.errorLoginDisplay = true;
                    return false;
                });

            };

            $scope.logout = function () {//logout function
                if ($rootScope.role != -1) //check if user role diffrent then -1 (loggedin)
                    userProfile.resetData();//remove user data
                $rootScope.role = -1;
                if (location.href.includes("yourProfile")) {//if user is in his profile he will redirect from there to index
                    window.location.href = "/index.html";
                }

            };



            $scope.signUp = function () {
                $scope.newUser = { // new user object
                    userName: $scope.newUserName,
                    password: $scope.newPassword,
                    gender: $scope.newGender,
                    address: $scope.newAddress,
                    phoneNumber: $scope.newPhoneNumber,
                    email: $scope.newEmail,
                    firstName: $scope.newFirstName,
                    lastName: $scope.newLastName,
                    CountryID: $scope.newCountryID

                };
                $http.post('api/Users', $scope.newUser).then(function (response) {
                    if (response.data) { //post request for signup and clear the inputs
                        $scope.loginUserName = $scope.newUserName;
                        $scope.loginPassword = $scope.newPassword;
                        $scope.newUserName = '';
                        $scope.newPassword = '';
                        $scope.newGender = '';
                        $scope.newAddress = '';
                        $scope.newPhoneNumber = '';
                        $scope.newEmail = '';
                        $scope.newFirstName = '';
                        $scope.newLastName = '';
                        $scope.newCountryID = '';
                        $scope.login();//login the user
                    }
                });


            };
            $scope.showYourProfile = function () {
                //$rootScope.$emit("getYourUserProfile", []); // catching event every time you go to your profile to pass the data before loadin profile controller
                  
                $rootScope.viewProfile = false;
                $rootScope.searchHide = true;
                 
            };
        });




        apartmentApp.controller('apartrentSearchController', function ($scope, $rootScope, $http, $window, apartmentsDataForLocationService, countriesService, categoriesFactory) {
            $scope.fromDate = new Date(date);//today date for search
            $scope.searchAndResultDiv = false;//show all the div
            $scope.errorMessage = '';//when somthing get wrong
            $scope.errorMessageDisplay = false;//if we should see the message

            $rootScope.searchHide = false;//if the search as worked

            $scope.searchButtonDisabled = false;//disabled the button so people wont spam it

            $scope.searchParams = [];//the parameters of the  search

            countriesService.resetData();//reset all saved countries

            apartmentsDataForLocationService.resetData();//reset all saved apartments for search pattern
           // $scope.apartmentsDataForLocation = apartmentsDataForLocationService;//save the location service in local variable

            $scope.getCountries = function () {// get requrst to featch all the countries
                $http.get('api/countries').then(function (response) {
                    $scope.countries = response.data;
                    countriesService.setData($scope.countries);
                    $rootScope.$emit("getCountries", []);//when the countries are retrived from the server and event is sending and passing the data of countries
                                                         //to apartmentResult Controller
                });
            };

            $scope.getCategories = function () {
                $http.get("api/apartment/ApartmentType").then(function (response) {
                    if (response) {
                        categoriesFactory.setData(response.data);
                    }
                });
            };

            $scope.getCountries();
            $scope.getCategories();
            $scope.searchApartment = function () {
                $http.get('api/apartment/ApartmentLocation?countryID=' + $scope.searchCountryID + '&numberOfGuests=' + $scope.searchGuests + '&fromDate=' + $scope.searchAvailableFromDate.toDateString() + '&toDate=' + $scope.searchAvailableToDate.toDateString()).then(function (response) {
                    $scope.searchButtonDisabled = true;
                    if (response.data.length == 0 || response.data == undefined) {
                        $scope.errorMessage = 'Something went wrong.No data was found';

                        $scope.errorMessageDisplay = true;
                        $scope.searchButtonDisabled = false;
                        return;
                    }
                    apartmentsDataForLocationService.setApartmentsData(response.data);//save apartments data of current location and send event to apartmentResult controller to featch the data too
                    $scope.searchButtonDisabled = false;
                    $rootScope.searchHide = true;

                });
            };

        });

       

       
    </script>
</body>
</html>