.ulLoginRegisterBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#liLoginRegisterBar {
    float: left;
}

    #liLoginRegisterBar a, .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        #liLoginRegisterBar a:hover, .dropli:hover .dropbtn {
            background-color: #f1f1f1;
        }

    #liLoginRegisterBar.dropli {
        display: inline-block;
    }

.Logindropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
    border-radius: 10px;
    border: 2px solid #73AD21;
}

    .Logindropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .Logindropdown-content a:hover {
            background-color: #f1f1f1;
            display:block;
        }

.dropli:hover .Logindropdown-content {
    display: block;
}

.loginInput {
    width: 90%;
    border-radius: 10px;
    border: 2px solid #73AD21;
}
